* {
    margin : 0;
    padding : 0;
    font-family: Montserrat;
}

/*Loredan Nav bar */
    
/*Loredan agence */

/*Thomas dark mode*/
.darkmode{
    display : flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.transitionDarkmode {
    
    color : #02735E;
    font-size : 1.4em;
    font-weight : bold;
}
.buttonDM {
margin-left : 1%;
}

/*Thomas valeurs et chiffres*/
.boxValeurs {
    display: flex;
    justify-content: space-around;
}

.titleValeurs {
    margin-left: 15%;
}
.txtValeurs {
    width : 30vw;
}

.txtValeurs p {
    text-align: justify;
}

.donnee {
    display: flex;
    align-items: center;
}
.chiffres {
    flex-direction: column;
    width : 30vw;
    display : flex;
    align-items: center;
}


.chiffresStrong {
    font-size : 3em;
    color : #03A678;
    font-weight: bold;
}

/*Gaspard slider personnel*/

/*Gaspard image parralaxe*/

/*Victor prestation*/

/*Victor client*/

/*Bang contact*/

/*Bang footer*/
