* {
<<<<<<< HEAD
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}
/*Loredan Nav bar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: right;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #03a678;
}
/*Loredan agence */

/*Thomas dark mode*/
.darkmode {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.transitionDarkmode {
  color: #02735e;
  font-size: 1.4em;
  font-weight: bold;
}
.buttonDM {
  margin-left: 1%;
=======
    margin : 0;
    padding : 0;
    font-family: Montserrat;
}
/*Loredan Nav bar */


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:white;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:#03A678;
  }
/*Loredan agence */

/*Thomas dark mode*/
.darkmode{
    display : flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.transitionDarkmode {
    
    color : #02735E;
    font-size : 1.4em;
    font-weight : bold;
}
.buttonDM {
margin-left : 1%;
>>>>>>> 2537e331a1e299106836a75195ed4909d4419a07
}

/*Thomas valeurs et chiffres*/
.boxValeurs {
<<<<<<< HEAD
  display: flex;
  justify-content: space-around;
}

.titleValeurs {
  margin-left: 15%;
}
.txtValeurs {
  width: 30vw;
}

.txtValeurs p {
  text-align: justify;
}

.donnee {
  display: flex;
  align-items: center;
}
.chiffres {
  flex-direction: column;
  width: 30vw;
  display: flex;
  align-items: center;
}

.chiffresStrong {
  font-size: 3em;
  color: #03a678;
  font-weight: bold;
=======
    display: flex;
    justify-content: space-around;
}

.titleValeurs {
    margin-left: 15%;
}
.txtValeurs {
    width : 30vw;
}

.txtValeurs p {
    text-align: justify;
}

.donnee {
    display: flex;
    align-items: center;
}
.chiffres {
    flex-direction: column;
    width : 30vw;
    display : flex;
    align-items: center;
}


.chiffresStrong {
    font-size : 3em;
    color : #03A678;
    font-weight: bold;
>>>>>>> 2537e331a1e299106836a75195ed4909d4419a07
}

/*Gaspard slider personnel*/

/*Gaspard image parralaxe*/

/*Victor prestation*/

/*Victor client*/

/*Bang contact*/
<<<<<<< HEAD
.contact {
  width: 100vw;
  margin: auto;

  display: inline-flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 10px;
  padding: 20px;
  color: #4f4f4f;
}

/*Bang footer*/

.footer {
  width: 100vw;
  height: 50px;
  display: inline-flex;
  justify-content: space-between;
}

.footleft li {
  margin-left: 30px;
}

.footright a li {
  margin-left: 30px;
}
=======

/*Bang footer*/
>>>>>>> 2537e331a1e299106836a75195ed4909d4419a07
